<div class="container mt-5">
  <app-navbar></app-navbar>

  <h2>IPL Dashboard</h2>

  <!-- Teams Section -->
  <div class="table-responsive">
    <h3>Teams</h3>
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Team ID</th>
          <th>Team Name</th>
          <th>Location</th>
          <th>Owner Name</th>
          <th>Establishment Year</th>
          <th *ngIf="role === 'ADMIN'" colspan="2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let team of teams">
          <td>{{ team.teamId }}</td>
          <td>{{ team.teamName }}</td>
          <td>{{ team.location }}</td>
          <td>{{ team.ownerName }}</td>
          <td>{{ team.establishmentYear }}</td>
          <td *ngIf="role === 'ADMIN'">
            <button class="btn btn-primary" (click)="editTeam(team.teamId)">Edit</button>
          </td>
          <td *ngIf="role === 'ADMIN'">
            <button class="btn btn-danger" (click)="deleteTeam(team.teamId)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Cricketers Section -->
  <div class="table-responsive mt-4">
    <h3>Cricketers</h3>
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Cricketer ID</th>
          <th>Cricketer Name</th>
          <th>Age</th>
          <th>Nationality</th>
          <th>Experience</th>
          <th>Role</th>
          <th>Total Runs</th>
          <th>Total Wickets</th>
          <th>Team Name</th>
          <th *ngIf="role === 'ADMIN'" colspan="2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cricketer of cricketers">
          <td>{{ cricketer.cricketerId }}</td>
          <td>{{ cricketer.cricketerName }}</td>
          <td>{{ cricketer.age }}</td>
          <td>{{ cricketer.nationality }}</td>
          <td>{{ cricketer.experience }}</td>
          <td>{{ cricketer.role }}</td>
          <td>{{ cricketer.totalRuns }}</td>
          <td>{{ cricketer.totalWickets }}</td>
          <td>{{ cricketer.team.teamName }}</td>
          <td *ngIf="role === 'ADMIN'">
            <button class="btn btn-primary" (click)="editCricketer(cricketer.cricketerId)">Edit</button>
          </td>
          <td *ngIf="role === 'ADMIN'">
            <button class="btn btn-danger" (click)="deleteCricketer(cricketer.cricketerId)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Matches Section -->
  <div class="table-responsive mt-4">
    <h3>Matches</h3>
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Match ID</th>
          <th>First Team</th>
          <th>Second Team</th>
          <th>Match Date</th>
          <th>Venue</th>
          <th>Result</th>
          <th>Status</th>
          <th>Winner Team</th>
          <th *ngIf="role === 'ADMIN'" colspan="2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let match of matches">
          <td>{{ match.matchId }}</td>
          <td>{{ match.firstTeam.teamName }}</td>
          <td>{{ match.secondTeam.teamName }}</td>
          <td>{{ match.matchDate }}</td>
          <td>{{ match.venue }}</td>
          <td>{{ match.result }}</td>
          <td>{{ match.status }}</td>
          <td>{{ match.winnerTeam.teamName }}</td>
          <td *ngIf="role === 'ADMIN'">
            <button class="btn btn-primary" (click)="editMatch(match.matchId)">Edit</button>
          </td>
          <td *ngIf="role === 'ADMIN'">
            <button class="btn btn-danger" (click)="deleteMatch(match.matchId)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Tickets Booked Section -->
  <div class="table-responsive mt-4" *ngIf="role === 'ADMIN'">
    <h3>All Tickets Booked</h3>
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Booking ID</th>
          <th>User Email</th>
          <th>Match</th>
          <th>Number of Tickets</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let booking of allTicketsBooked">
          <td>{{ booking.bookingId }}</td>
          <td>{{ booking.email }}</td>
          <td>{{ booking.matchId}}</td>
          <td>{{ booking.numberOfTickets }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Votes Section -->
  <div class="table-responsive mt-4" *ngIf="role === 'ADMIN'">
    <h3>Votes Count of All Categories</h3>
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Category</th>
          <th>Votes Count</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vote of voteArray">
          <td>{{ vote.key }}</td>
          <td>{{ vote.value }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
