<div>
    <form [formgroup]="voteForm" (ngSubmit) = "onSubmit()">
        <div>
            <label for="voteId"> Vote ID</label>
            <input type="number" id="voteId" formControlName="voteId" placeholder="Enter Vote ID">
        </div>

        <div>
            <label for="email">Email</label>
            <input type="email" id="email" formControlName="email" placeholder="Enter Email">
        </div>

        <div>
            <label for="category">Category</label>
            <input type="text" id="category" formControlName="category" placeholder="Enter Category">

        </div>

        <div>
            <label for="cricketerId">Cricketer ID</label>
            <input type="number" id="cricketerId" formControlName="cricketerId" placeholder="Enter Cricketer ID">
        </div>

        <div>
            <label for="teamId">Team ID</label>
            <input type="number" id="teamId" formControlName="teamId" placeholder="Enter Team ID">
        </div>

        <div>
            <button type="submit" [disabled]="voteForm.invalid">Create Vote</button>
            <button type="button" (click)="resetForm()">Reset</button>
        </div>
        
    </form>

    <div *ngIf="successMessage" class="success">
        <p>{{ successMessage }}</p>
    </div>

    <div *ngIf="errorMessage" class="error">
        <p>{{ errorMessage }}</p>
    </div>

</div>
